{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
    <div class="container">
        <div>
        <h1>Добро пожаловать на наш сайт! Чувствуйте себя как дома)))</h1>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Цены на сегодня</h1>
      <p class="fs-5 text-body-secondary">Купите у нас свежий гашиш и погрузитесь в атмосферу беззаботного одтыха и покоя! АУЕ!</p>
        </div>
        <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Гашиш 0.5г</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">45.<small class="text-body-secondary fw-light">99</small></h1>
            <ul class="<div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Гашло ебать</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$4.<small class="text-body-secondary fw-light">99</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 лет выращиваем для вас</li>
              <li>Лучшие цены в городе</li>
              <li>Напишите свой маил чтобы получать рассылки о наших предложениях</li>
              <li>Помощь в покупке</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Заказать нахой!</button>
          </div>
    </div></div>{% endblock %}